@model BrauerNetApp.Models.Step
@using BrauerNetApp.Models

@{
    ViewData["Title"] = "Step - Delete";
}

<html>
<head>
</head>

<body>
    @Html.DisplayFor(model => model.Description)</li>
</body>
</html>
