@model BrauerNetApp.Models.Goal

@{
    ViewData["Title"] = "Goal - Delete";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete this goal?</h2>
<hr />

@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)

    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" />
    }

