@model BrauerNetApp.Models.Goal

@{
    ViewData["Title"] = "Goal - Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>BrauerNet - Goal Details</title>

</head>

<body>
    <h2>Project Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<br />

</body>
</html>
