@model BrauerNetApp.Models.Goal

@{
    ViewData["Title"] = "Goal - Delete";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>

</head>

<body>
    <li>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</li>
</body>
</html>
