@model BrauerNetApp.Models.Goal

@{
    ViewData["Title"] = "Goal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Project @Html.DisplayFor(model => model.Description) on BrauerNet</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.GoalId)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    <input type="submit" value="Save" class="btn btn-success" />
}