@model BrauerNetApp.Models.QUESTOR
@using BrauerNetApp.Models

@{
    ViewData["Title"] = "QUESTOR - Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<html>
<head>
    <title>BrauerNet - Project Details</title>

</head>

<body>
    <h2>Project Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Question): @Html.DisplayFor(model => model.Question)<br />

</body>
</html>
