body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 40px;
    background-color: beige;
}

.btn {
    margin: 5px;
}

.container {
    position: relative;
}

.tabcontents {
    width: 75%;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
}

.background {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}


.standard {
    border: solid;
    border-width: 2px;
    border-radius: 30px;
    padding: 10px;
}

.questormain {
    background-color: red;
}

.module {
    background-color: orange;
    margin: 10px;
}

.project {
    background-color: yellow;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.steps {
    background-color: green;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 10px;
    padding: 10px;
}

.responses {
    background-color: blue;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 10px;
    padding: 10px;
}

.goals {
    background-color: purple;
    margin-left: 150px;
    margin-right: 150px;
    padding: 15px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
