@model BrauerNetApp.Models.Standard

@{
    ViewData["Title"] = "Standard - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add A Standard</h2>

@using (Html.BeginForm("AddStandard", "Standards"))
{
    @Html.LabelFor(model => model.StandardId)
    @Html.DropDownList("StandardId")

    //@Html.HiddenFor(model => model.ProjectId)

    <input type="submit" value="Create" class="btn btn-success" />
}
