@model BrauerNetApp.Models.Project

@{
    ViewData["Title"] = "Project - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a New Project</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)


    <input type="submit" value="Create" class="btn btn-success" />
}
