@model BrauerNetApp.Models.Project

@{
    ViewData["Title"] = "Project - Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>BrauerNet - Project Details</title>

</head>

<body>
    <h2>Project Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<br />

</body>
</html>
