@model BrauerNetApp.Models.Project
@using BrauerNetApp.Models

@{
    ViewData["Title"] = "Project - Delete";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
</head>

<body>
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<br />
</body>
</html>
