@model List<BrauerNetApp.Models.Project>

@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects on BrauerNet</h2>
<hr />
<div class="row">
    @if (Model.Count > 0)
    {
        @foreach (var project in Model)
        {
            <div class="col-md-4">
                <div class="panel standard">
                    <div class="panel-heading project standard">
                        <h3>@Html.DisplayFor(modelItem => project.Name)</h3>

                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>@Html.ActionLink("Project Details", "DetailsProject", new { id = project.ProjectId })</li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    }
</div>

