@model BrauerNetApp.Models.Module

@{
    ViewData["Title"] = "Module - Display";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    List<Project> newModuleProjectList = new List<BrauerNetApp.Models.Project>();
    newModuleProjectList = Model.Projects;
}
<div class="module standard">
    <h2>Module
    @Html.DisplayNameFor(x => Model.Title): @Html.DisplayFor(model => model.Title)</h2><br />

    @foreach (var project in newModuleProjectList)
    {
        @Html.Partial("~/Views/Projects/DetailsProject.cshtml", project);
        <div id="ModuleProjectResult"></div>
    }
</div>



