@model List<BrauerNetApp.Models.ModuleProject>

@{ 
    ViewData["Title"] = "ModuleProject - Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modules</h2>
<hr />

@using (Html.BeginForm("DisplayModules", "Modules"))
{
    @for (var i = 0; i < Model.Count; i++)
    {
        @Html.LabelFor(module => module[i].Module.Title)
    }
}


