@model BrauerNetApp.Models.Module

@{ 
    ViewData["Title"] = "Module - Display";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head></head>

<body>
    <li>@Html.DisplayNameFor(x => Model.Title): @Html.DisplayFor(model => model.Title)  @Html.ActionLink("Delete", "DeleteModule", "Modules", new { id = Model.ModuleId })<br /></li>
</body>

</html>

