@model BrauerNetApp.Models.Response

@{
    ViewData["Title"] = "Response - Create";
}

@using (Html.BeginForm("CreateResponse", "Responses"))
{
    <h5>Contribute a Response</h5>
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.HiddenFor(module => Model.ProjectId)
    @Html.HiddenFor(module => Model.ResponseId)

    <input type="submit" value="Create" class="btn btn-success" />
}
