@model BrauerNetApp.Models.Response
@using BrauerNetApp.Models

@{
    ViewData["Title"] = "Response - Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
</head>

<body>
    @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<br />
</body>
</html>
