@model BrauerNetApp.Models.Response
@using BrauerNetApp.Models

@{
    ViewData["Title"] = "Response - Details";
}

<html>
<head>
</head>

<body>
    @Html.DisplayFor(model => model.Description)
</body>
</html>
